<!DOCTYPE html>
<html lang="en" ng-app="greenhouse">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="components/bootstrap.css/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="components/toastr/toastr.min.css"/>
	<link rel="stylesheet" href="css/svg.css"/>

	<script src="components/jquery/jquery.min.js"></script>
	<script src="components/angular/angular.js"></script>
	<script src="components/angular-http-auth/src/angular-http-auth.js"></script>
	<script src="components/angular-cookies/angular-cookies.js"></script>
	<script src="components/d3/d3.js"></script>

	<script src="js/credentials.default.js"></script>
	<script src="js/credentials.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>

	<title> Green house</title>
</head> 
<body>
<div class="container">

	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Green house <small>wonderful app</small></h1>
			</div>
		</div>
	</div>

	<div class="row" ng-controller="GreenHouseCtrl">

		<div class="span9">
			<div class="well" id="SVGContainer" ng-controller="SVGCtrl"></div>
		</div>

		<div class="span3">
			<div class="well">
				<ul class="nav">
					<li><i class="icon-certificate"></i>Luminosity: {{luminosity}} Lux</li>
					<li><i class="icon-tint"></i> Humidity: {{humidity}} %</li>
					<li><i class="icon-dashboard"></i> Temperature: {{temperature}} °C</li>
				</ul>
			</div>

			<div class="well">
				<ul class="nav">		
					<li style="clear: both;">
						<span style="float:left">
							<i class="icon-lightbulb"></i> Light Bulb: <strong>{{light}}</strong>
						</span>
						<span class="btn-group" style="float:right">
							<button class="btn-mini" ng-click="toggleLight(true)" title="on"><i class="icon-ok"></i></button>
							<button class="btn-mini" ng-click="toggleLight(false)" title="off"><i class="icon-circle-blank"></i></button>
						</span>
					</li>
					<li style="clear: both;">
						<span style="float:left">
							<i class="icon-home"></i> Shield: <strong>{{shield}}</strong>
						</span>
						<span class="btn-group" style="float:right">
							<button class="btn-mini" ng-click="toggleShield(true)" title="on"><i class="icon-ok"></i></button>
							<button class="btn-mini" ng-click="toggleShield(false)" title="off"><i class="icon-circle-blank"></i></button>
						</span>
					</li>
				</ul>
			</div>

			<div class="well" ng-controller="DeviceStatusCtrl">
				<ul class="nav">
					<li><i class="icon-signal"></i> Network <i class="icon-heart" title="Communication vitality"></i>: <span class="{{commstatusclass}}">{{commstatus}}</span></li>
					<li>
						<i class="icon-exchange"></i>
						Last check-in:
						<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-calendar"></i> {{lastcommdate}}
					</li>
				</ul>
			</div>
		</div>

  	</div>

</div>
<script src="components/toastr/toastr.min.js"></script>
</body>
</html> 
